p, li {
	color: $tertiary
}

.site-header {
	border-bottom: 1px solid black;

	.container {
		padding-bottom:20px;

		.navbar-brand {
			display:block;
			width:100%;
			max-width:250px;
			padding-top:10px;
			margin-left:auto;
			margin-right:auto;

			@include media($mobile-nav-breakpoint) {
				margin:0;
				padding-bottom:0;
			}
		}
	}

}

.site-hero {
	background-image: url('../images/yellow_background.gif');
	border-bottom: 1px solid #949494;

	.container {
		

		img#big-bee { 
			width:100%;
			padding:15px 15px 0 0;

			@include media($mobile-nav-breakpoint) {
				display:none;
			}

			@include media(58em) {
				display:inline;
				float:left;
				width:250px;
			}

			@include media(60em) {
				margin-right:20px;
				width:260px;
			}
			@include media(70em) {
				margin-right:40px;
				width:330px;
			}
		}

		.tag-cloud {
			display:none;

			@include media($mobile-nav-breakpoint) {
				display:block;
				width:519px;
				padding:20px 0 20px 0px;
				margin-left:auto;
				margin-right:auto;

				.large { font-size: 60px; }
				.medium { font-size: 40px; }
				.small { font-size: 20px; }
				span {
					margin-right: 15px;
					line-height: 1.1em;
				}
			}

			@include media(58em) {
				display:inline;
				margin:0;
				float:left;
			}

			@include media(60em) {
			}
			@include media(70em) {
				width:650px;
				.large { font-size: 80px; }
				.medium { font-size: 40px; }
				.small { font-size: 20px; }
				span {
					margin-right: 25px;
					line-height: 1em;
				}
			}
		}

	}
}

.site-main {
	padding:0;
	padding-bottom:40px;
	
	.col-one, .col-two {
		@include media($mobile-nav-breakpoint) {
			@include span-columns(6); 				

			#nao-script {
				float:left;
				margin-right:20px;
			}
		}

		@include media(60em) {
			@include span-columns(4); 		
		}

	}
	.col-two {		

		@include media(60em) {
			border-left:1px solid $white-smoke;
			padding-left:50px;
			@include span-columns(8); 
		}
	}
}
.site-footer {
	border-top:none;
}



.internal-layout {
	.site-header {
		background-image: url('../images/yellow_background.gif');

	}
	.site-main{
		padding:20px 0;
	}
}

.blog-summary {
	display:block;
	border-bottom:1px dashed $white-smoke;
	margin-bottom:20px;

	.article-date{
		margin-bottom:0px;
		font-size:12px;
	}
	.article-title {
		margin-top:5px;
	}
}

.post {
	h2 {
		font-size:23px;
	}
	h3 {
		font-size:18px;
	}
	h4, h5 {
		font-size:13px;
	}
}