---
layout: post
title:  "Learn Ruby on Rails"
date:   2013-05-01
categories: learn ruby rails
summary: List of my favorite resources for learning & teaching newbee programmers how to develop with Ruby on Rails.
permalink: learn-ruby-on-rails/
---
<span style="float:right; margin-bottom:100px;">
![Ruby on Rails]blog/rails.png)
</span>
## For Newbee Programmers

### Try Ruby

[http://tryruby.org](http://tryruby.org)

* Play with ruby in a browser.

### Learn to program

[http://pragprog.com/book/ltp2/learn-to-program](http://pragprog.com/book/ltp2/learn-to-program)

* Excellent book that both my wife and nephew read / enjoyed. Lean programming in general using the ruby language.


## After that...

### Ruby Programming Language

[http://shop.oreilly.com/product/9780596516178.do](http://shop.oreilly.com/product/9780596516178.do)

* If you are experienced with programming, this book walks through ruby in a quick and complete fashion


### Agile Web Development with Rails

[http://pragprog.com/book/rails32/agile-web-development-with-rails-3-2](http://pragprog.com/book/rails32/agile-web-development-with-rails-3-2)

* An absolutely amazing book that walks you through a day in the life of a web programmer and the Rails web framework


### Rails Recipes

[http://pragprog.com/book/rr2/rails-recipes](http://pragprog.com/book/rr2/rails-recipes)

* LOVED this one.. for once you know some rails and want to fill in the gaps / see awesome approaches to sticky situations

By Don Najd
