---
title: Beesbot
---


<div class="container blog-list">

  <% sitemap.resources.each do |page| %>
    <article>
      <h2><%= link_to page.data.title, page.url %></h2>
      <p><%= page.data.summary %></p>
    </article>
  <% end %>

</div>
